@use "../helpers" as *;

.carousel {
  &__wrapper {
    top: rem(-63);
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__track {
    display: flex;
    gap: rem(20);
    width: max-content;
  }

  &__slide {
    img {
      width: rem(63);
      height: rem(63);
      object-fit: cover;
    }
  }
}