@use "../helpers" as *;

.cases{
  &__inner{
    padding-block: rem(70);
    display: flex;
    flex-direction: column;
    row-gap: rem(40);
  }
  &__button{
    height: rem(55);
  }

  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__action{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dropdown{
    padding: rem(16) rem(32);
    border: 1px solid var(--color-gray-100);
    border-radius: rem(14);
    font-weight: 400;
    font-size: rem(18);
    color: var(--color-black);
    width: 279px;
    font-family: var(--font-family-accent);

    @include hover{
      border: 1px solid var(--color-blue);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid var(--color-blue);
    }
  }


  &__swiper {
    flex-shrink: 0;
    width: 1312px;
    overflow: hidden;
    position: relative;

    &-slide{
      display: flex;
      flex-direction: column;
      width: 636px !important;
      height: 426px !important;
      flex-shrink: 0;
    }

    &-wrapper{
      display: flex;
      column-gap: rem(28);
    }
  }
}
