@use "../helpers" as *;

.hero{
  padding: rem(40) rem(70);
  gap: 56px;
  display: flex;
  width: 100%;

  &__splide{
    width: 100%;
    overflow: hidden;

    &__video__wrapper {
      border-radius: rem(20);
    }

    &__list{
      display: flex;
      align-items: flex-end;
    }

    &__track{
      width: 100%;
      height: 100%;
    }

    &-slide{
      width: rem(473);
      height: rem(689);

      flex-shrink: 0;
      transform-origin: bottom center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      transform: scale(0.5);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s ease-in-out;
      will-change: transform, opacity;
      z-index: 1;

      video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(20);
      }

      &.is-active {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
      }

      //&.slide-offset {
      //  transform: scale(0.5) translateX(rem(250)) !important;
      //}
      //
      //&.slide-previous {
      //  transform: scale(0.5) translateX(rem(-300)) !important;
      //  z-index: 0;
      //}
    }
  }

  &__main{
    display: flex;
    justify-content: space-between;
    min-width: rem(514);
  }
  &__body{
    display: flex;
    flex-direction: column;
    gap: rem(169);
  }
  &__header{
    font-size: 70px;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: rem(32);
    line-height: normal;
    height: rem(273);

    &-inner{
      max-width: rem(514);
    }

    &-print{
      color: var(--color-orange);
    }
  }
  &__subheader{
    margin-bottom: rem(40);
    font-size: rem(24);
    font-family: var(--font-family-accent);
  }
  &__review{
    display: flex;
    column-gap: rem(8);

    &-logo{
      margin-right: 8px;
    }
  }
  &__button{
    width: 428px;
  }
}



