@use "../helpers" as *;

.other-carousel{
  padding-top: rem(50);
  padding-bottom: rem(70);


  &__title{
    font-weight: 500;
    font-size: rem(50);
    text-transform: uppercase;
    color: var(--color-black);
    text-align: center;
    margin-bottom: rem(40);
  }

  &__wrapper{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
    position: relative;
    margin: auto;


    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url("../../images/service/white-background.png") 0 0 / cover no-repeat;
      z-index: 100;
    }

  }

  &__track {
    display: flex;
    gap: rem(8);

    &--top{
      width: calc((220px + 211px + 262px + 246px + 238px) * 2);
      animation: scroll-carousel-right 30s linear infinite;
    }
    &--bottom{
      width: calc((127px + 141px + 108px + 104px + 218px + 130px + 142px) * 2);
      animation: scroll-carousel-left 30s linear infinite;
    }
  }

  &__slide {
    flex-shrink: 0;
    font-weight: 400;
    font-size: rem(24);
    font-family: var(--font-family-accent);
    border: 1px solid var(--color-gray-100);
    border-radius: rem(20);
    padding: rem(22) rem(26);
  }
}

@keyframes scroll-carousel-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-220px - 211px - 262px - 246px - 238px - 8px * 5));
  }
}

@keyframes scroll-carousel-left {
  0% {
    transform: translateX(calc(-127px - 141px - 108px - 104px - 218px - 130px - 142px - (8px * 7)));
  }
  100% {
    transform: translateX(0);
  }
}