@use "../helpers" as *;

.other-carousel{
  padding-top: rem(50);
  padding-bottom: rem(70);


  &__title{
    font-weight: 500;
    font-size: rem(50);
    text-transform: uppercase;
    color: var(--color-black);
    text-align: center;
    margin-bottom: rem(40);
  }

  &__wrapper{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
    position: relative;


    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url("../../images/service/white-background.png") 0 0 / cover no-repeat;
      z-index: 100;
    }

  }

  &__track {
    display: flex;
    gap: rem(8);
    will-change: transform;

    &--top{
      animation: scroll-carousel-right 60s linear infinite;
    }
    &--bottom{
      animation: scroll-carousel-left 60s linear infinite;
    }
  }

  &__slide {
    flex: 0 0 auto;
    font-weight: 400;
    font-size: rem(24);
    border: 1px solid var(--color-gray-100);
    border-radius: rem(20);
    padding: rem(22) rem(26);
    white-space: nowrap;
  }
}

@keyframes scroll-carousel-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 4px));
  }
}

@keyframes scroll-carousel-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(50% + 4px));
  }
}