@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url("../fonts/TTFirsNeue-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noah";
  src: url("../fonts/Noah-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #2A2A2A;
  --color-white: #FFFFFF;
  --color-blue: #0060DF;
  --color-orange: #FB8A2E;
  --color-baby-blue: #6DAAE1;
  --color-gray-50: #F4F4F5;
  --color-gray-100: #DFDFDF;
  --color-gray-200: #939393;
  --color-gray-250: #808080;
  --color-gray-300: #525252;
  --color-blue-50: #E2EFFF;
  --color-blue-100: #C6DEFF;
  --color-blue-200: #A9CEFF;
  --color-blue-300: #8CBEFF;
  --color-blue-400: #70ADFF;
  --color-blue-500: #539DFF;
  --color-blue-600: #368DFF;
  --color-blue-700: #197CFF;
  --color-blue-vk: #0077FF;
  --gradient-tg: linear-gradient(180deg, #2aabee 0%, #229ed9 100%);
  --gradient-inst: linear-gradient(180deg, #c51ea9 0%, #d22097 29.33%, #e75d5a 69.89%, #f2a328 100%);
  --gradient-gray: linear-gradient(148deg, rgba(42, 42, 42, 0.3) 17.79%, rgba(42, 42, 42, 0.3) 100%);
  --font-family: "TT Firs Neue", sans-serif;
  --font-family-accent: "Noah", sans-serif;
  --container-width: 81.25rem;
  --container-padding-x: 1.25rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  color: var(--color-gray-300);
  background-color: var(--color-white);
  font-weight: 400;
}

main {
  flex-grow: 1;
}

h1,
h3,
h4 {
  font-weight: 500;
}

h2,
h5 {
  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-blue);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-blue);
  }
}
a[class] {
  text-decoration: none;
}

.header {
  padding-block: 2rem;
  font-family: var(--font-family-accent);
  position: sticky;
  z-index: 200;
  top: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid #E5E5E5;
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__overlay {
  display: contents;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: flex;
  column-gap: 2.5rem;
  font-size: 1.5rem;
}
.header__contacts {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.header__contacts-link {
  font-size: 1.5rem;
}

.hero {
  padding: 2.5rem 4.375rem;
}
.hero__main {
  display: flex;
  justify-content: space-between;
}
.hero__body {
  display: flex;
  flex-direction: column;
  gap: 10.5625rem;
}
.hero__header {
  font-size: 70px;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 2rem;
  line-height: normal;
  height: 17.0625rem;
}
.hero__header-inner {
  max-width: 32.125rem;
}
.hero__header-print {
  color: var(--color-orange);
}
.hero__subheader {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-family: var(--font-family-accent);
}
.hero__review {
  display: flex;
  column-gap: 0.5rem;
}
.hero__review-button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.875rem;
  border: 1px solid var(--color-gray-50);
  background-color: var(--color-white);
  font-size: 1.25rem;
  font-weight: 500;
}
@media (any-hover: hover) {
  .hero__review-button:hover {
    background-color: var(--color-gray-50);
  }
}
@media (any-hover: none) {
  .hero__review-button:active {
    background-color: var(--color-gray-50);
  }
}
.hero__review-logo {
  margin-right: 8px;
}
.hero__button {
  width: 428px;
}

.button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 0.875rem;
  padding: 16px 50px;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
  }
}
@media (any-hover: none) {
  .button:active {
    background-color: var(--color-white);
    color: var(--color-blue);
  }
}

.video-slider {
  width: 100%;
  max-width: 473px;
  margin: 0 auto;
}

.swiper-container {
  width: 473px;
  height: 689px;
  overflow: hidden;
}

.swiper-slide {
  width: 473px;
  height: 689px;
  opacity: 0.6;
  transform: scale(0.9);
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.about {
  padding: 3.125rem 1rem;
}
.about__inner {
  position: relative;
  padding-block: 6.6875rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 3.125rem 1rem;
  background-color: var(--color-black);
}
.about__inner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../../images/about/background.png") 0 0/cover no-repeat;
  z-index: 100;
  pointer-events: none;
}
.about__header {
  font-size: 8.75rem;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(143deg, #16437f 0%, #fff 26.44%, #fff 65.38%, #243040 100%);
  background-clip: text;
  margin-bottom: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__header-inner {
  position: relative;
}
.about__subheader {
  font-size: 1.5rem;
  font-family: var(--font-family-accent);
  width: 41.125rem;
  color: var(--color-white);
  margin-bottom: 6.25rem;
}
.about__subheader span {
  color: var(--color-baby-blue);
}
.about__button {
  width: 26.5625rem;
  z-index: 100;
}
.about__inst {
  position: absolute;
  top: 48%;
  left: 13%;
}
.about__tg {
  position: absolute;
  left: 41%;
  top: 0;
}
.about__vk {
  position: absolute;
  right: 6%;
  top: 9%;
}

.carousel__track {
  bottom: 4.125rem;
  position: relative;
  display: flex;
  gap: 1.25rem;
  will-change: transform;
  transition: transform 0.5s linear;
}
.carousel__slide {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.9375rem;
}

/*# sourceMappingURL=main.css.map */
